@{
    Layout = null;
    ViewBag.Title = "Edit HttpGet o HttpPost";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <br />
        <strong>@ViewBag.HttpGet</strong>
        <hr />
        
    </div>
</body>
</html>
